# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\goProject\DepthInspection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
